.propertyDetail{
    margin: 5px;
    border: 0px solid black;
    
}

.thumbNail{
    display:flex;
    width:40%;
    
}

.thumbNailMobile{
    display:flex;
    width:80%;
}




.mainImage {            
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.thumbImages {
    border:'0px solid black';
}


.thumbImage {
    border-radius:10%;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}







