h1{
    /* color: rgb(135, 160, 185); */
    color: rgb(94, 94, 94); 
    font-weight: 600;
    font-size: 26px;
    margin : 10px 0px 0px 0px 
  }


p{       

    font-size: 15px;
    margin : 5px 5px 0px 0px s
}

h2{
    color:rgb(255, 118, 0, .94);
    margin : 35px 0px 0px 0px ;
    font-weight: 450;
    font-size: 21px;
 }

 h3{
  
  font-weight: 500;
  font-size: 16px;
  margin : 25px 0px 5px 0px ;
}

 b{    
  font-weight: 640;
  color: black;  
}

 table {
    background-color: #f7f7f7;
    border-collapse: collapse;
    margin : 15px 0px 0px 0px ;
    width: 80%;
  }
  
  th, td {
    font-size: 14px;
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color:rgb(223, 224, 225);
    text-decoration: underline;
}

 a:link {
    font-size: 15px;          
    background-color: transparent;
    text-decoration: none;
    color:black;
    text-decoration: underline;
  }
  a:visited {    
    background-color: transparent;
    text-decoration: none;
    color:black;
  }
  a:hover {
    color:rgba(227, 139, 8, 0.937);
    background-color: transparent;
    text-decoration: underline;
   
  }
  a:active {
    color:rgba(227, 139, 8, 0.937);
    background-color: transparent;
    text-decoration: underline;
  }


 
 