h1{
    color: lightslategray;
    font-weight: 600;
    font-size: 26px;
    margin : 10px 0px 0px 0px 
  }


p{        
    font-size: 15px;
    margin : 5px 5px 0px 0px 
}

h2{
    color:rgba(227, 139, 8, 0.937);
    margin : 35px 0px 0px 0px ;
    font-weight: 400;
    font-size: 21px;
 }

 table {
    border-collapse: collapse;
    margin : 15px 0px 0px 0px ;
    width: 80%;
  }
  
  th, td {
    font-size: 15px;
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:rgb(223, 224, 225);;}

 a:link {
    font-size: 15px;          
    background-color: transparent;
    text-decoration: none;
    color:black;
    text-decoration: underline;
  }
  a:visited {    
    background-color: transparent;
    text-decoration: none;
    color:black;
  }
  a:hover {
    color:rgba(227, 139, 8, 0.937);
    background-color: transparent;
    text-decoration: underline;
   
  }
  a:active {
    color:rgba(227, 139, 8, 0.937);
    background-color: transparent;
    text-decoration: underline;
  }


 
 